{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block admin %}
    <style>
        .navbar.fixed-bottom.navbar-expand {
            display: none !important;
        }
        .navigation a{
            color: white;
        }
        .card {display:inline-block;}
        .example-wrapper { margin: 1em auto; max-width: 90%; width: 100%;}
    </style>

<div class="example-wrapper">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9">
                {% for event in events %}
                    <div class="card" style="width: 25%; margin-left: 3%; margin-bottom: 1.2%;">
                        <img class="card-img-top" src="{{ vich_uploader_asset(event, 'file') }}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h3 style="color: black;">{{ event.name }}</h3>
                            <a href="{{ path('event_show', {id:event.id}) }}" class="card-text" style="color:black">{% if event.description is empty %} No description... {% else %} {{ event.description|length > 50 ? event.description|slice(0, 50) ~ '...' : event.description  }} {% endif %}</a>
                          <br><br>
                            <a href="{{ path('event_delete', {id:event.id}) }}"><button type="button" class="btn custom-button btn-danger">Verwijder</button></a>
                            <a href="{{ path('event_edit', {id:event.id}) }}"><button type="button" class="btn btn-info">Bewerk</button></a>
                        </div>
                    </div>
                {% endfor %}
    </div>
</div>
    <div class="navigation" style="color:white; margin-left: 20%; letter-spacing: 10px;">
        {{ knp_pagination_render(events) }}
    </div>
</div>


{% endblock %}