{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="event-container col-12 col-lg-3">
        <p class="ml-5 event-about-title">Rooster {{ event.name }}</p>
        <div class="event-wrapper">
            <div class="pt-2">
                <div class="d-flex justify-content-center text-center">
                    <h3 class="text-white event-route-title bold">{{ event.name }}</h3>
                    <img class="event-about-img"
                         src="{{ vich_uploader_asset(event, "file") }}" alt="x">
                    <div class="bg-white event-route">
                        <div class="w-100 h-100" style="border-radius: 0 0 50px 50px;">
                            <div class="pt-4 pl-5">
                                <img class="float-left  " src="{{ asset("mbo-icons/walk.svg") }}" alt="x">
                                <div class="ml-3 pl-5">
                                    <p class="text-purple bold float-left mb-0" style="font-size: .75em">Eerst volgende tijd:</p><br>
                                    <p class="text-purple bold float-left mb-0" style="font-size: 1.25em; line-height: .2em">{{ event.startDate ? event.startDate|date("Y-m-d") : '' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
