{% extends 'base.html.twig' %}

{% block title %}Hello OverviewController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        <p>Application Environment: {{ app.environment }}</p>
        <h3><a href="/gebruikers">Nu {% if logs | length == 0 %}geen{% else %}{{ logs | length }} {% endif %}
                gebruiker{% if logs | length > 1 %}s{% endif %} actief!</a></h3>
        <table id="lijst" class="table table-responsive table-striped">
            <tr>
                <th>Username</th>
                <th>last Activity</th>
                <th>email</th>
            </tr>
            {% for user in logs %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.lastActivityAt | date("h:m d-m-Y") }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
