{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/swiper.css") }}">

    <div class="event-container swiper-container-initialized swiper-container-horizontal col-12 col-lg-3">
        <div class="swiper-wrapper">
            {% for activity in activities %}
                <div class="swiper-slide pt-4">
                    <div class="d-flex justify-content-center text-center">
                        <h3 class="text-white event-title bold">{{ activity.name }}</h3>
                        <a href="{{ path('activity_show', {'id': activity.id}) }}">
                        {% if activity.fileName == '' %}
                            <img class="event-discover-img"
                                 src="{{ asset("images/4k-wallpaper-clouds-cloudy-1668246.jpg") }}" alt="x">
                        {% else %}
                            <img class="event-discover-img"
                                 src="{{ vich_uploader_asset(activity, "file") }}" alt="x">
                        {% endif %}
                        </a>
                        <div class="bg-white event-footer">
                            <img class="float-left pt-3 pl-3" src="{{ asset("mbo-icons/heart.svg") }}">
                            <p class="text-purple float-left pt-3 pl-2">{{ activity.id }} likes</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>Add more activities</h1>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset("js/swiper.js") }}"></script>

    <script>
        new Swiper('.event-container', {
            loop: true
        });
    </script>

{% endblock %}