{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}
    <h1>Place</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ place.coordinates }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ place.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('place_index') }}">back to list</a>

    <a href="{{ path('place_edit', {'id': place.id}) }}">edit</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
