{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("css/swiper.css") }}">

    <div class="event-container swiper-container-initialized swiper-container-horizontal col-12 col-lg-3">
        <div class="swiper-wrapper">
            {% for user in users %}
                <div class="swiper-slide pt-4">
                    <div class="d-flex justify-content-center text-center">
                        <h3 class="text-white event-title bold">{{ user.username }}</h3>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="text-white event-more"><p
                                    class="pt-1 bold">Bekijk event</p></a>
                        <img class="event-discover-img"
                             src="{{ asset("images/dark-diving-eerie-2289407.jpg") }}" alt="x">
                        {#{% if (workshop.likes * 1.1) > workshop.maxparticipants %}#}
                        {#<div class="text-white workshop-more">Dit event kan vol zitten</div>#}
                        {#{% else %}#}
                        {#<div class="text-white workshop-more">Er is nog plek</div>#}
                        {#{% endif %}#}
                        <div class="bg-white event-footer">
                            <img class="float-left pt-3 pl-3" src="{{ asset("mbo-icons/heart.svg") }}">
                            <p class="text-dark float-left pt-3 pl-2">{{ user.id }} likes</p>
                            <p class="text-dark float-right pt-3 pr-3">{{ user.lastLogin ? user.lastLogin|date("Y-m-d") : '' }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>Maak een of meerdere accounts aan met fosuserbundle om </h1>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset("js/swiper.js") }}"></script>

    <script>
        var swiper = new Swiper('.event-container');
    </script>

{% endblock %}

